:root {
  --bs-body-font-family: "Roboto", Arial, sans-serif;
}

a {
  text-decoration: none;
}
/* header */
header {
  background-color: rgba(197, 197, 202, 0.459);
  padding: 20px;
}

.logo {
  width: 250px;
}

/* icon container */
.icons {
  display: flex;
  align-items: center;
  gap: 25px;
  font-size: 1.2rem;
}

/* single icon */
.nav-item {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  text-decoration: none;
}

.nav-item i {
  color: rgb(208, 72, 78);
  font-size: 1.4em;
}

.nav-item span {
  color: black;
  font-weight: 500;
}

.nav-item:hover i {
  color: darkred;
}

.nav-item:hover span {
  text-decoration: underline;
}
